<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <%- include('layouts/header') %>
    </head>
    <body>
        <!--登錄頁面-->
        <div class="login-wrap">
            <div class="login-con">
                <p>🍇</p>
                <span>Account</span>
                <input type="text" placeholder="Account" id="account">
                <span>Password</span>
                <input type="password" placeholder="Password" id="password">
                <button class="login-btn">Login</button>
            </div>
        </div>

        <!--聊天介面-->
        <div class="chat-wrap hide">
            <div class="chat-wrap-top">
                <h3 id="chat-title"> </h3>
                <button class="leaveBtn"><img src="images/cross.png"></button>
            </div>
            <div class="chat-wrap-main" id="chat-wrap">
                <div class="chat-con" clearfix></div>
                <div class="bottom">
                    <input type="text" id="sendtxt" placeholder="Type a message">
                    <button class="sendBtn">
                        <img src="images/send.png">
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>